body {
  background-color: #e3e5ea;;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 4px;
  color: white;
  font-family:serif;
  font-weight: lighter;
  font-size: 20px;
}

.App-title {
  font-size: 1.5em;
}

.formHeader {
  font-size: 28px;
}

img {
  height: 300px;
  width: auto;
  display: inline-block;
  border-radius: 5px;
}
input {
  margin-right: 10px;
  border: 1px solid rgb(123, 119, 119);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  height: 26px;
  width: 18%;
}

/* ~~~~~~~~~~ Button Style ~~~~~~~~~~ */

.addFormButton {
  background-color: rgb(241, 228, 249);
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 20px;
  margin-right: 5px;
  font-size: 14px;
}

.addFormButton:hover {
  background-color: rgb(179, 88, 235);
}
.addFormButton:active {
  transform: scale(0.93);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.deleteButton {
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: #e35757;
  margin-left: 10px;
}

.deleteButton:hover {
  background-color: rgb(169, 68, 50);
}

.deleteButton:active {
  transform: scale(0.93);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.addBtn {
  background-color: rgb(152, 201, 249);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
}

.likeButton:hover {
  background-color: rgb(53, 110, 44);
}

.likeButton {
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: rgb(83, 201, 97);
  margin-left: 10px;
}
/* Adding transformation when the button is active */

.likeButton:active {
  transform: scale(0.93);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}