body {
  background-color: #e3e5ea;;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 4px;
  color: white;
  font-family:serif;
  font-weight: lighter;
  font-size: 20px;
}

.App-title {
  font-size: 1.5em;
}

.formHeader {
  font-size: 28px;
}

img {
  height: 300px;
  width: auto;
  display: inline-block;
  border-radius: 5px;
}
input {
  margin-right: 10px;
  border: 1px solid rgb(123, 119, 119);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  height: 26px;
  width: 18%;
}

/* ~~~~~~~~~~ Button Style ~~~~~~~~~~ */

.addFormButton {
  background-color: rgb(224, 204, 237);
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 20px;
  margin-right: 5px;
  font-size: 14px;
}

.addFormButton:hover {
  background-color: rgb(179, 88, 235);
}

.deleteButton {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: #cc6767;
  margin-left: 10px;
  font-size: 16px;
}

.deleteButton:hover {
  background-color: rgb(255, 61, 27);
}

.likeButton {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: rgb(83, 201, 97);
  margin-left: 10px;
  font-size: 16px;
}

.likeButton:hover {
  background-color: rgb(34, 255, 0);
}

.addBtn {
  background-color: rgb(152, 201, 249);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
}
