body {
  background-color: #e3e5ea;

}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 4px;
  color: white;
  font-family:serif;
  font-weight: lighter;
  font-size: 20px;
}
h4{
  color: black;
  font-family:sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid; /* Add a 1px thick underline */
  border-top: 1px solid;
  padding: 5px; 
}

.App-title {
  font-size: 1.5em;
}

.formHeader {
  font-size: 28px;
}

img {
  height: 300px;
  width: auto;
  display: inline-block;
  border-radius: 5px;
}
input {
  margin-right: 10px;
  border: 1px solid rgb(123, 119, 119);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  height: 26px;
  width: 18%;
  font-family:sans-serif;
}

/* ~~~~~~~~~~ Button Style ~~~~~~~~~~ */

.addFormButton {
  background-color: rgb(209, 231, 232);
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 20px;
  margin-right: 5px;
  font-size: 14px;
}

.addFormButton:hover {
  background-color: rgb(78, 235, 250);
}
.addFormButton:active {
  transform: scale(0.93);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.deleteButton {
  font-size: 14px;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: rgb(2, 2, 2);
  margin-left: 10px;
}

.deleteButton:hover {
  background-color: rgb(238, 57, 25);
}

.deleteButton:active {
  transform: scale(0.93);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.addBtn {
  background-color: rgb(152, 201, 249);
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 30px;
}
.resetLikes{
  font-size: 16px;
  color: black;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: rgb(248, 244, 151);
  margin-bottom: 10px;
}
.resetLikes:hover {
  background-color: rgb(247, 235, 11);
}

.resetLikes:active {
  transform: scale(0.93);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.likeButton:hover {
  background-color: rgb(66, 227, 141);
}

.likeButton {
  font-size: 14px;
  color: black;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  background-color: rgb(246, 244, 246);
  margin-left: 10px;
}
/* Adding transformation when the button is active */
.likeButton:active {
  transform: scale(0.93);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}